body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

body h1 {
    transition-property: font-size;
    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in;
}

body h1:hover {
    cursor: pointer;
    font-size: 80px;
}

